.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#navbar{
    display: flex;
    justify-content: flex-end;
    border: 2px solid black;
    position: sticky;
    background-color: white;
}
#navbar>a{
    margin: 10px 20px;
    text-decoration: none;
    color: black;
}
#login-form-div{
    /* border: 1px solid blue; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    border-radius: 5px;
    /* flex-direction: column; */
    margin: 20px;
    width: 300px;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 10px;
}
#loginDetails{
    text-align: center;
    
}
input{
    margin: 8px;
    padding: 5px;
    font-weight: normal;
}
#submit{
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;
}